In [ ]:
a = 'python'
b = 'class'

# pyass
# clthon

In [ ]:
new = 'if else statements.ipynb'

In [1]:
a = 'python'
b = 'class'

print(a[:2] + b[2:])
print(b[:2] + a[2:])
new = 'if else statements.ipynb'

list2 = new.split('.')
print(list2[0])

pyass
clthon
if else statements

In [2]:
new = 'if else statements.ipynb'
c=new[0:(len(new)-6)]
print(c)

if else statements

## if else statements

In [ ]:
Decision Making Statements

Conditional Statements

In [ ]:
if 
elif (else if)
else

In [ ]:
if condition1:   # condition1 >> True/False
    Block of code
    statement1
    statement2
    statement3
    
elif condition2: # condition2 >> True/False
    statement4
    statement5
    
else:
    statement6
    statement7

In [3]:
if condition1:   # condition1 >> True/False
    Block of code
    statement1
    statement2
    statement3
    
elif condition2: # condition2 >> True/False
    statement4
    statement5
    
elif condition2: # condition2 >> True/False
    statement4
    statement5
    
else:
    statement6
    statement7

False

In [ ]:
if
if >> elif
if >> elif >> elif
if >> elif >> else 
if >> elif >> elif >> elif >> else

In [6]:
a = 45
b = 60

if a > b:  # False
    print('a is greater than b')
    
else:
    print('a is smaller than b')

a is smaller than b

In [7]:
a = 45
b = 60

if a > b:  # False
    print('a is greater than b')
    
else b > a:
    print('a is smaller than b')a > b

SyntaxError: expected ':' (2891999262.py, line 7)

In [8]:
a = 45
b = 60

if a > b:  # False
    print('a is greater than b')
    
elif b > a:
    print('a is smaller than b')

a is smaller than b

In [9]:
a = 45
b = 60
c = 40

if a > b:  # False
    print('a is greater than b')
    
elif a > c:
    print('a is greater than c')

a is greater than c

In [10]:
x = 500
y = 500

if x > y:
    print('x is greater than y')
    
else:
    print('y is greater than or equal to x')

y is greater than or equal to x

In [11]:
x = 5000
y = 500

if x > y:
    print('x is greater than y')
    
if x > y:
    print('y is smaller than x')
    
else:
    print('y is greater than or equal to x')

x is greater than y
y is smaller than x

In [12]:
str1 = 'python'

if str1.islower():
    print('String is in lower case')
    
else:
    print('String is not in lower case')

String is in lower case

In [13]:
str1 = 'Python'

if str1.islower():
    print('String is in lower case')
    
else:
    print('String is not in lower case')

String is not in lower case

In [14]:
str1 = 'Python'

if str1.istitle():
    print('String is in title case')
    
else:
    print('String is not in title case')

String is in title case

In [15]:
str1 = 'Machine Learning'

if str1.istitle():
    print('String is in title case')
    
else:
    print('String is not in title case')

String is in title case

In [16]:
str1 = 'Machine learning'

if str1.istitle():
    print('String is in title case')
    
else:
    print('String is not in title case')

String is not in title case

## Operators

### 1. Comparison Operator

In [ ]:
a == b    # Equal operator
a != b    # not equal
a > b     # greater than
a < b     # smaller than
a >= b    # greater than equals to
a <= b    # smaller than equals to

In [17]:
a = 5
b = 5
a == b

True

In [18]:
a = 5
b = 5.1
a == b

False

In [19]:
a = 5
b = 5.1
a != b

True

In [20]:
a = 5
b = 5
a != b

False

In [21]:
a = 'python'
b = 'python'
a == b

True

In [22]:
a = 'python'
b = 'python '
a == b

False

In [23]:
a = 'Python'
b = 'python'
a == b

False

In [24]:
a = 'python'
b = 'python '
if a == b:
    print('Both Strings are same')
    
else:
    print('Both Strings are not same')

Both Strings are not same

In [25]:
a = 'python'
b = 'Python '
if a == b:
    print('Both Strings are same')
    
else:
    print('Both Strings are not same')

Both Strings are not same

In [26]:
a = 'python'
b = 'Python'
if a != b:
    print('Both Strings are not same')
    
else:
    print('Both Strings are same')

Both Strings are not same

In [27]:
a = 'python'
b = 'python'
if a != b:
    print('Both Strings are not same')
    
else:
    print('Both Strings are same')

Both Strings are same

In [28]:
10 > 5

True

In [29]:
10 > 10

False

In [30]:
10 >= 10

True

In [31]:
10 <= 10

True

In [33]:
str1 = 'Data'
len(str1) > 3

True

In [34]:
'Str1' > 3

TypeError: '>' not supported between instances of 'str' and 'int'

In [35]:
'Str1' > 'Str2'

False

In [38]:
str2 = 'Machine Learning'

if str2.istitle():
    print('String is in Title Case')

String is in Title Case

In [39]:
str2 = 'Machine learning'

if str2.istitle():
    print('String is in Title Case')

In [40]:
str2 = 'Machine learning'

if str2.istitle():
    print('String is in Title Case')
    
print('Hello')

Hello

In [41]:
str2 = 'Machine Learning'

if str2.istitle():
    print('String is in Title Case')
    
print('Hello')

String is in Title Case
Hello

In [42]:
a = 1
b = 2

if a > b
    print('A is bigger')

SyntaxError: expected ':' (2649335401.py, line 4)

In [44]:
a = 11
b = 2

if a > b:
    print('A is bigger')

A is bigger

In [46]:
a = 11
b = 2

if a > b:
    print(f'{a} is bigger than {b}')

11 is bigger than 2

### 2. Logical Operators

In [ ]:
1. and
2. or

1. and operator:
    True and True  >> True
    True and False >> False
    False and True >> False
    False and False >> False 
    
2. or operator:
    True or True  >> True
    True or False >> True
    False or True >> True
    False or False >> False

In [47]:
a = 50
b = 20 
c = 30

if a > b and a > c:  # True and True >> True
    print('a is greater than b and c')

a is greater than b and c

In [48]:
a = 50
b = 60 
c = 30

if a > b and a > c:  # False and True >> False
    print('a is greater than b and c')

In [49]:
a = 50
b = 60 
c = 30
d = 40

if a > b and a > c and a > d:  # False and True and True >> False
    print('a is greater than b and c and d')

In [50]:
a = 500
b = 60 
c = 30
d = 40

if a > b and a > c and a > d:  # True and True and True >> True
    print('a is greater than b and c and d')

a is greater than b and c and d

In [51]:
a = 5
b = 6
c = 7

if a > b or a > c:  # False or False >> False
    print('a is greater than b and c')

In [52]:
a = 50
b = 6
c = 7

if a > b or a > c:  # True or False >> True
    print('a is greater than either b and c')

a is greater than either b and c

In [54]:
a = 50
b = 60
c = 7

if a > b or a > c:  # False or True >> True
    print('a is greater than either b and c')

a is greater than either b and c

In [55]:
a = 50
b = 60
c = 7
d = 8

if a > b or a > c or a >d:  # False or True or True >> True
    print('a is greater than either b and c and d')

a is greater than either b and c and d

In [56]:
a = 50
b = 60
c = 7
d = 8

if (a > b or a > c) and a >d:  # (False or True >> True) and True >> True
    print('a is greater than either b and c and d')

a is greater than either b and c and d

In [57]:
a = 10
b = 20 
c = 30

if  a > b and a > c:  # False
    print('a is the largest number')
    
elif b > a and b > c: # False
    print('b is the largest number')
    
else:
    print('c is the largest number')

c is the largest number

In [58]:
a = 100
b = 20 
c = 30

if  a > b and a > c:  # True
    print('a is the largest number')
    
elif b > a and b > c: # False
    print('b is the largest number')
    
else:
    print('c is the largest number')

a is the largest number

In [59]:
a = 100
b = 200
c = 30

if  a > b and a > c:  # False
    print('a is the largest number')
    
elif b > a and b > c: # True
    print('b is the largest number')
    
else:
    print('c is the largest number')

b is the largest number

## User Inputs

In [ ]:
Default output will be in string

In [60]:
a = input()
a

''

In [61]:
a = input()
type(a)

Hello

str

In [62]:
a = input()
a

12

'12'

In [63]:
a = input()
a = int(a)
a

12

12

In [64]:
a = input()
a = int(a)
a

hi

ValueError: invalid literal for int() with base 10: 'hi'

In [65]:
a = int(input())
print(a, type(a))

45
45 <class 'int'>

In [66]:
a = float(input())
print(a, type(a))

20
20.0 <class 'float'>

In [67]:
a = float(input())
print(a, type(a))

21.02
21.02 <class 'float'>

In [68]:
a = int(input())
print(a, type(a))

10.2

ValueError: invalid literal for int() with base 10: '10.2'

In [69]:
a = float(input('Enter a value:'))
print(a, type(a))

Enter a value:100.25
100.25 <class 'float'>

In [70]:
a = eval(input('Enter a value:'))
print(a, type(a))

Enter a value:12
12 <class 'int'>

In [71]:
a = eval(input('Enter a value:'))
print(a, type(a))

Enter a value:12.5
12.5 <class 'float'>

In [72]:
a = eval(input('Enter a value:'))
print(a, type(a))

Enter a value:'Hi'
Hi <class 'str'>

In [73]:
a = eval(input('Enter a value:'))
print(a, type(a))

Enter a value:hi

NameError: name 'hi' is not defined

In [74]:
a = input('Enter a value:')
print(a, type(a))

Enter a value:hi
hi <class 'str'>

In [75]:
a = eval(input('Enter a value:'))
print(a, type(a))

Enter a value:[1,2,3,'hi']
[1, 2, 3, 'hi'] <class 'list'>

In [76]:
a = input('Enter a value:')
print(a, type(a))

Enter a value:1,2,3,4
1,2,3,4 <class 'str'>

In [77]:
a = input('Enter a value:')
print(a, type(a))

Enter a value:[1, 2, 3, 'hi']
[1, 2, 3, 'hi'] <class 'str'>

In [79]:
a = eval(input('Enter Something:'))
print(a, type(a))

Enter Something:"Velocity"
Velocity <class 'str'>

In [80]:
a = int(input('Enter a value for a:'))
b = int(input('Enter a value for b:'))
c = int(input('Enter a value for c:'))

if  a > b and a > c:  
    print('a is the largest number')
    
elif b > a and b > c: 
    print('b is the largest number')
    
else:
    print('c is the largest number')

Enter a value for a:35
Enter a value for b:25
Enter a value for c:40
c is the largest number

In [81]:
a = eval(input('Enter a value for a:'))
b = eval(input('Enter a value for b:'))
c = eval(input('Enter a value for c:'))

if  a > b and a > c:  
    print('a is the largest number')
    
elif b > a and b > c: 
    print('b is the largest number')
    
else:
    print('c is the largest number')

Enter a value for a:10.5
Enter a value for b:15
Enter a value for c:14.9
b is the largest number

### Nested if-else statemet

In [ ]:
if statement inside if statement

In [85]:
a = 80
if a > 50: # True
    print('a is greater than 50')
    
    if a > 70:  # True:
        print('a is greater than 70')
        
        if a > 75:  # True:
            print('a is greater than 75')

a is greater than 50
a is greater than 70
a is greater than 75

In [86]:
a = 80
if a > 50: # True
    print('a is greater than 50')
    
    if a > 70:  # True:
        print('a is greater than 70')
        
        if a > 75:  # True:
            print('a is greater than 75')
        
        else:
            print('a is less than 75')

a is greater than 50
a is greater than 70
a is greater than 75

In [87]:
a = 74
if a > 50: # True
    print('a is greater than 50')
    
    if a > 70:  # True:
        print('a is greater than 70')
        
        if a > 75:  # False:
            print('a is greater than 75')
        
        else:
            print('a is less than 75')

a is greater than 50
a is greater than 70
a is less than 75

In [88]:
a = 67
if a > 50: # True
    print('a is greater than 50')
    
    if a > 70:  # False:
        print('a is greater than 70')
        
        if a > 75:  # False:
            print('a is greater than 75')
        
        else:
            print('a is less than 75')

a is greater than 50

In [89]:
a = 67
if a > 50: # True
    print('a is greater than 50')
    
    if a > 70:  # False:
        print('a is greater than 70')
        
        if a > 75:  # False:
            print('a is greater than 75')
        
        else:
            print('a is less than 75')
            
    else:
        print('a is less than 70')

a is greater than 50
a is less than 70

In [91]:
a = 44
if a > 50: # False
    print('a is greater than 50')
    
    if a > 70:  # False:
        print('a is greater than 70')
        
        if a > 75:  # False:
            print('a is greater than 75')
        
        else:
            print('a is less than 75')
            
    else:
        print('a is less than 70')
        
else:
    print('a is less than 50')

a is less than 50

In [94]:
a = eval(input('Enter a number less than 100:'))
if a > 50: # False
    print('a is greater than 50')
    
    if a > 70:  # False:
        print('a is greater than 70')
        
        if a > 75:  # False:
            print('a is greater than 75')
        
        else:
            print('a is less than 75')
            
    else:
        print('a is less than 70')
        
else:
    print('a is less than 50')

Enter a number less than 100:70
a is greater than 50
a is less than 70

In [97]:
# Loan >> Approve/ Decline

age = 25
cibil_score = 760
salary = 70000

if cibil_score >= 750:
    print('CIBIL score is greater than 750  and is eligible for loan')
    
    if salary >= 50000:
        print('Salary is greater than 50000 and is elegible for loan')
        
        if age >= 25 and age <= 60:
            print('Age is within criteria and you are eligible for loan')
            print('Loan Approved !!')
            
        else:
            print('Eligible on CIBIL Score and Salary but Age does not fulfull the criteria')
            print('Declined due to Age criteria')
        
    else:
        print('Eligible on CIBIL Score But not on Salary')
        print('Declined due to low Salary')
    
else:
    print('Declined due to low CIBIL Score')

CIBIL score is greater than 750  and is eligible for loan
Salary is greater than 50000 and is elegible for loan
Age is within criteria and you are eligible for loan
Loan Approved !!

In [98]:
# Loan >> Approve/ Decline

age = 25
cibil_score = 710
salary = 70000

if cibil_score >= 750:
    print('CIBIL score is greater than 750  and is eligible for loan')
    
    if salary >= 50000:
        print('Salary is greater than 50000 and is elegible for loan')
        
        if age >= 25 and age <= 60:
            print('Age is within criteria and you are eligible for loan')
            print('Loan Approved !!')
            
        else:
            print('Eligible on CIBIL Score and Salary but Age does not fulfull the criteria')
            print('Declined due to Age criteria')
        
    else:
        print('Eligible on CIBIL Score But not on Salary')
        print('Declined due to low Salary')
    
else:
    print('Declined due to low CIBIL Score')

Declined due to low CIBIL Score

In [99]:
# Loan >> Approve/ Decline

age = 25
cibil_score = 760
salary = 40000

if cibil_score >= 750:
    print('CIBIL score is greater than 750  and is eligible for loan')
    
    if salary >= 50000:
        print('Salary is greater than 50000 and is elegible for loan')
        
        if age >= 25 and age <= 60:
            print('Age is within criteria and you are eligible for loan')
            print('Loan Approved !!')
            
        else:
            print('Eligible on CIBIL Score and Salary but Age does not fulfull the criteria')
            print('Declined due to Age criteria')
        
    else:
        print('Eligible on CIBIL Score But not on Salary')
        print('Declined due to low Salary')
    
else:
    print('Declined due to low CIBIL Score')

CIBIL score is greater than 750  and is eligible for loan
Eligible on CIBIL Score But not on Salary
Declined due to low Salary

In [100]:
# Loan >> Approve/ Decline

age = 61
cibil_score = 760
salary = 70000

if cibil_score >= 750:
    print('CIBIL score is greater than 750  and is eligible for loan')
    
    if salary >= 50000:
        print('Salary is greater than 50000 and is elegible for loan')
        
        if age >= 25 and age <= 60:
            print('Age is within criteria and you are eligible for loan')
            print('Loan Approved !!')
            
        else:
            print('Eligible on CIBIL Score and Salary but Age does not fulfull the criteria')
            print('Declined due to Age criteria')
        
    else:
        print('Eligible on CIBIL Score But not on Salary')
        print('Declined due to low Salary')
    
else:
    print('Declined due to low CIBIL Score')

CIBIL score is greater than 750  and is eligible for loan
Salary is greater than 50000 and is elegible for loan
Eligible on CIBIL Score and Salary but Age does not fulfull the criteria
Declined due to Age criteria

In [101]:
# Loan >> Approve/ Decline

age = eval(input('Enter Age:'))
cibil_score = eval(input('Enter CIBIL Score:'))
salary = eval(input('Enter Salary:'))

if cibil_score >= 750:
    print('CIBIL score is greater than 750  and is eligible for loan')
    
    if salary >= 50000:
        print('Salary is greater than 50000 and is elegible for loan')
        
        if age >= 25 and age <= 60:
            print('Age is within criteria and you are eligible for loan')
            print('Loan Approved !!')
            
        else:
            print('Eligible on CIBIL Score and Salary but Age does not fulfull the criteria')
            print('Declined due to Age criteria')
        
    else:
        print('Eligible on CIBIL Score But not on Salary')
        print('Declined due to low Salary')
    
else:
    print('Declined due to low CIBIL Score')

Enter Age:35
Enter CIBIL Score:780
Enter Salary:65000
CIBIL score is greater than 750  and is eligible for loan
Salary is greater than 50000 and is elegible for loan
Age is within criteria and you are eligible for loan
Loan Approved !!

In [102]:
# Loan >> Approve/ Decline

age = eval(input('Enter Age:'))
cibil_score = eval(input('Enter CIBIL Score:'))
salary = eval(input('Enter Salary:'))

if cibil_score >= 750:
    print('CIBIL score is greater than 750  and is eligible for loan')
    
    if salary >= 50000:
        print('Salary is greater than 50000 and is elegible for loan')
        
        if age >= 25 and age <= 60:
            print('Age is within criteria and you are eligible for loan')
            print('Loan Approved !!')
            
        else:
            print('Eligible on CIBIL Score and Salary but Age does not fulfull the criteria')
            print('Declined due to Age criteria')
        
    else:
        print('Eligible on CIBIL Score But not on Salary')
        print('Declined due to low Salary')
    
else:
    print('Declined due to low CIBIL Score')

Enter Age:24
Enter CIBIL Score:790
Enter Salary:45000
CIBIL score is greater than 750  and is eligible for loan
Eligible on CIBIL Score But not on Salary
Declined due to low Salary

In [104]:
input('Enter Something:')

Enter Something:12

'12'

In [105]:
int(input('Enter Something:'))

Enter Something:12

12

In [107]:
int(input('Enter Weight:'))

Enter Weight:75.2

ValueError: invalid literal for int() with base 10: '75.2'

In [108]:
float(input('Enter Weight:'))

Enter Weight:75.2

75.2

In [109]:
eval(input('Enter Weight:'))

Enter Weight:12

12

In [110]:
eval(input('Enter Weight:'))

Enter Weight:10.2

10.2

In [111]:
eval(input('Enter Weight:'))

Enter Weight:'Vrushabh'

'Vrushabh'

In [112]:
eval(input('Enter Weight:'))

Enter Weight:[1,2,3]

[1, 2, 3]